InterfaceBloodBank/WebContent/wsdl/ShiftManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doYouWanttoShiftEmployess">
    <complexType>
     <sequence>
      <element name="shift" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doYouWanttoShiftEmployessResponse">
    <complexType>
     <sequence>
      <element name="doYouWanttoShiftEmployessReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doYouWanttoShiftEmployessRequest">

      <wsdl:part element="impl:doYouWanttoShiftEmployess" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doYouWanttoShiftEmployessResponse">

      <wsdl:part element="impl:doYouWanttoShiftEmployessResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ShiftManagement">

      <wsdl:operation name="doYouWanttoShiftEmployess">

         <wsdl:input message="impl:doYouWanttoShiftEmployessRequest" name="doYouWanttoShiftEmployessRequest">

       </wsdl:input>

         <wsdl:output message="impl:doYouWanttoShiftEmployessResponse" name="doYouWanttoShiftEmployessResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShiftManagementSoapBinding" type="impl:ShiftManagement">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doYouWanttoShiftEmployess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doYouWanttoShiftEmployessRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doYouWanttoShiftEmployessResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShiftManagementService">

      <wsdl:port binding="impl:ShiftManagementSoapBinding" name="ShiftManagement">

         <wsdlsoap:address location="http://localhost:8080/BloodBank/services/ShiftManagement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
