BloodBank/WebContent/wsdl/Donor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="donorRegistration">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="bloodType" type="xsd:string"/>
      <element name="phone" type="xsd:string"/>
      <element name="quantity" type="xsd:int"/>
      <element name="medicalCondition" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="donorRegistrationResponse">
    <complexType>
     <sequence>
      <element name="donorRegistrationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="donorRegistrationRequest">

      <wsdl:part element="impl:donorRegistration" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="donorRegistrationResponse">

      <wsdl:part element="impl:donorRegistrationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Donor">

      <wsdl:operation name="donorRegistration">

         <wsdl:input message="impl:donorRegistrationRequest" name="donorRegistrationRequest">

       </wsdl:input>

         <wsdl:output message="impl:donorRegistrationResponse" name="donorRegistrationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DonorSoapBinding" type="impl:Donor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="donorRegistration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="donorRegistrationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="donorRegistrationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DonorService">

      <wsdl:port binding="impl:DonorSoapBinding" name="Donor">

         <wsdlsoap:address location="http://localhost:8080/BloodBank/services/Donor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
